<div>
    <div class="page-title">
        <div class="title_left">
            <h3>受注機能</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <h3><a href="/Order/OrderRegist?mode=1"><i class="fa fa-edit"></i> 受注登録モード</a></h3>
                <h3><a href="/Order/OrderRegist?mode=2"><i class="fa fa-list-alt"></i> 受注修正モード</a></h3>
            </div>
        </div>
    </div>
</div>